.header {
    background-color: $black;

    &__logo {
        margin: 0 41px 0 0;
    }

    &__logo:hover,
    &__logo:focus {
        opacity: 0.5;
        cursor: pointer;
        outline: none;
    }

    &__logo:active {
        opacity: 0.7;
    }

    &__search {
        display: flex;
        align-items: center;
    }

    &__search-group {
        display: flex;
    }

    &__search-form {
        display: none;
    }

    &__search-input {
        background-color: red;
    }

    &__search:hover &__search-form,
    &:focus &__search-form,
    &__search:active &__search-form {
        display: block;
    }

    .header__search:hover .header__search-img,
    .header__search:focus .header__search-img,
    .header__search:active .header__search-img {
        display: none;
    }

    &__button {
        background-color: transparent;
        border: 0;
    }

    .icon {
        fill: #E8E8E8;
    }

    .header__button:hover,
    .header__button:active,
    .header__button:focus {
        cursor: pointer;
        outline: none;
    }

    .header__button:hover .icon,
    .header__button:active .icon,
    .header__button:focus .icon {
        fill: var(--pink-text);
    }

    &__link {
        margin: 0 0 0 33px;
    }

    .header__link:hover,
    .header__link:active,
    .header__link:focus {
        cursor: pointer;
        outline: none;
    }

    .header__link:hover .icon,
    .header__link:active .icon,
    .header__link:focus .icon {
        fill: var(--pink-text);
    }

    &__wrp {
        display: flex;
        justify-content: space-between;
        min-height: 75px;
        align-items: center;
    }

    &__menu {
        display: none;
        position: absolute;
        width: 232px;
        height: 764px;
        top: 100%;
        right: -232px;
        background: white;
        padding-left: 32px;
        -webkit-box-shadow: -13px 13px 11px -7px rgba(34, 60, 80, 0.38);
        -moz-box-shadow: -13px 13px 11px -7px rgba(34, 60, 80, 0.38);
        box-shadow: -13px 13px 11px -7px rgba(34, 60, 80, 0.38);
    }

    .header__button:hover+.header__menu,
    .header__button:active+.header__menu,
    .header__button:focus+.header__menu {
        display: block;
    }

    &-menu:hover {
        display: block;
    }

    &__menu-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        padding-top: 37px;
    }
}