.products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

.products__title {
    font-size: 30px;
    line-height: 36px;
    color: $black;
}

.products__text {
    color: $grey-text;
    padding-top: 6px;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 48px;
}

.products__item {
    max-width: 360px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 30px;
    background-color: $milk-background;
}

.products__item-title {
    margin-top: 23px;
    font-size: 13px;
    line-height: 16px;
    color: $black;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-left: 16px;
}

.products__item-desc {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $dark_grey-text;
    margin-left: 16px;
    margin-right: 29px;
    margin-bottom: 18px;
}

.products__item-price {
    margin-left: 16px;
    margin-bottom: 18px;
    color: $pink-text;
    font-size: 16px;
    line-height: 19px;
}

.products__item-wrapper {
    position: relative;
}

.products__item-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
}

.products__item-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid &white-text;
    background: none;
    margin: 0;
    padding: 0;
}

.products__item-button_icon {
    fill: $white-text;
    width: 26px;
    height: 24px;
    padding: 8px 0 8px 8px;
}

.products__item-button_text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: &white-text;
    padding: 12px;
}

.products__item-button,
.products__item-overlay {
    display: none;
    cursor: pointer;
    outline: none;
}

.products__item:hover .products__item-overlay,
.products__item:active .products__item-overlay,
.products__item:focus .products__item-overlay {
    display: block;
}

.products__item:hover .products__item-button,
.products__item:active .products__item-button,
.products__item:focus .products__item-button {
    display: flex;
}

.products__button {
    border: 1px solid $pink-text;
    background-color: white;
    padding: 14px 38px;
    color: $pink-text;
    margin-bottom: 95px;
}

.products__button:hover,
.products__button:active,
.products__button:focus {
    cursor: pointer;
    outline: none;
    background: $pink-text;
    border: 1px solid $pink-text;
    color: $white-text;
}