.sales__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;

    &-niz {
        width: 360px;
        height: 260px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-grow: 1;
    }

    &:hover,
    &_:active,
    &:focus {
        cursor: pointer;
        outline: none;
        opacity: 0.5;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &--woman {
        background-image: url('../img/tovar1.jpg');
        margin-right: 30px;

    }

    &--man {
        background-image: url('../img/tovar2.jpg');
        margin-right: 30px;
    }

    &--kids {
        background-image: url('../img/tovar3.jpg');
    }

    &--accesories {
        width: 100%;
        background-image: url('../img/tovar4.jpg');
        margin-top: 30px;
        margin-bottom: 96px;
        height: 180px;
    }

    &-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $white-text;
        text-transform: uppercase;
    }

    &-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: $pink-text;
        text-transform: uppercase;
    }
}